# Node modules
**/node_modules/

# Logs
**/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
*.env
*.env.local
*.env.development
*.env.production
*.env.test

# Build outputs
frontend/.next/
frontend/out/
frontend/build/
backend/dist/
backend/build/

# Next.js specific
frontend/.next/
frontend/.turbo/
frontend/.vercel/

# VS Code
.vscode/

# MacOS
.DS_Store

# MongoDB local data (if you ever use local db)
data/
