services:
  backend:
    build: ./backend
    container_name: domnor-backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run dev:docker
    env_file:
      - ./backend/.env
    depends_on:
      - db

  db:
    image: mongo:8.0-noble
    restart: always
    container_name: domnor-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    env_file:
      - ./backend/.env

volumes:
  mongo-data:
