.sweep-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transform: skewX(-20deg);
  animation: sweep 3s infinite;
}

@keyframes sweep {
  0% {
    left: -150%;
  }
  50%,
  100% {
    left: 150%;
  }
}
