@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), var(--font-khmer);
  --font-cursive: var(--font-dancing-script), var(--font-khmer-cursive);

  --color-primary: #222831;
  --color-secondary: #393e46;
  --color-accent: #00adb5;
  --color-background: #222831;
  --color-foreground: #eeeeee;
}

/* Dark theme tokens (class-based) */
.dark {
  --color-primary: #ededed;
  --color-secondary: #aab0b6;
  --color-accent: #00e5ff;
  --color-background: #0b0b0c;
  --color-foreground: #e6e6e6;
}

/* Base utilities */
html,
body {
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-foreground);
  -moz-osx-font-smoothing: grayscale;
}



